body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 2em;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input {
    width: 93.7%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.toggle {
    text-align: center;
    margin-top: 10px;
}