body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1.1rem;
}

main {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 20rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input {
    width: 93.7%;
    padding: 0.5rem;
    margin: 0.4rem 0;
}

button {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.6rem;
    cursor: pointer;
}

.toggle {
    text-align: center;
    margin-top: 0.6rem;
}