h3 {
    margin-bottom: 0;
    margin-top: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button, .toggle-btn {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.95rem;
    text-decoration: none;
}
.toggle-btn {
    margin-left: 0.625rem;
}
button:disabled {
    background-color: var(--button-disabled-color);
}
.grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}


.card, .section-card {
    display: grid;
    background: white;
    max-width: 25rem;
    padding: 1rem;
    padding-top: 0.6rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px var(--card-box-shadow-color);
}

.card > p {
    margin: 0;
    line-height: 1.2;
}

/* .media-title-container {
    display: grid;
    place-items: center start;
    width: 100%;
    max-width: 20rem;
    height: 2.95rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    justify-self: center;
}

.media-title-container h3 {
    white-space: pre-wrap;
    word-break: break-word;
    width: 100%;
    text-align: center;
} */

.card .description-wrapper {
    margin-top: 0.4rem;
    width: 100%;
    max-width: 20rem;
    height: 1.9rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem 0;
    margin-bottom: 0.4rem;
}

.card .description-wrapper > .description {
    white-space: pre-wrap;
    word-break: break-word;
    width: 100%;
    margin: 0;
}

.card > details {
    margin-bottom: 0.4rem;
}

.card > details[open] > summary {
    margin-bottom: 0.4rem;
}

.card > details > p {
    margin: 0;
    line-height: 1.4;
    display: block;
    margin-left: 1rem;
}

.card > form:last-child, .card > button:last-child {
    margin-top: 0.9rem;
}
.section-card {
    max-width: none;
    background-color: #f1f1f1;
    margin-bottom: 2rem;
}

.section-card .section-card-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
}
.message {
    margin-top: 1rem;
    background: #e6ffe6;
    border: 1px solid #b3ddb3;
    padding: 0.625rem;
    border-radius: 0.5rem;
}
.overdue {
    color: red;
    font-weight: bold;
}
.returned {
    color: green;
}
.invoice {
    margin-top: 2rem;
    background: #fff7f7;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ffcccc;
}
.hidden { display: none; }
.admin-btn {
    background-color: #28a745;
}

.media-title-container {
    display: grid;
    place-items: center start; /* horizontal center, vertical top */
    width: 100%;
    max-width: 20rem;
    height: 2.95rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    /* align itself center in the card horizontally */
    justify-self: center;
}

.media-title-container h3 {
    white-space: pre-wrap; /* preserves spaces but allows wrapping */
    word-break: break-word; /* forces breaks even in long words */
    width: 100%;
    text-align: center;
}

.media-image {
    max-width: calc(100%);
    max-height: 100%;
}

.media-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.media-image-portrait {
    height: 22.3rem;
    border-radius: 1rem;
    object-fit: contain;
    background-color: #fff;
    display: block;
}

.media-image-landscape {
    border-radius: 1rem;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
    display: block;
}

.media-image-square {
    width: 100%;
    border-radius: 1rem;
    object-fit: contain;
    background-color: #fff;
    display: block;
}

.card :last-child:disabled {
    cursor: not-allowed;
}

.change-password-button, .change-password-form, .change-password-header {
    justify-self: left;
}
.change-password-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-right: 3rem;
}

.change-password-form input {
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-right: 2rem;
}
.change-password-form label {
    font-weight: bold;
    margin-right: 2rem;
}
.change-password-container {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    justify-self: flex-start;
    flex-direction: row;
    align-items: flex-end;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
.change-password-message {
    margin-top: 0.5rem;
    background: #e6ffe6;
    border: 1px solid #b3ddb3;
    padding: 0.625rem;
    justify-self: flex-end;
    border-radius: 0.5rem;
}
.error-card {
    background: #fff0f0;
    border: 1px solid #ffb3b3;
}
.success-card {
    background: #e6ffe6;
    border: 1px solid #b3ddb3;
}
.account-button-card > summary > h2{
    display: inline;
}
.account-button-card > summary {
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.account-button-card > summary::marker {
    font-size: 1.5rem;
}

#top-menu-message {
    margin-top: 1rem;
    background: #ff4141;
    border: 1px solid #ff4141;
    padding: 0.625rem;
    border-radius: 0.5rem;
}

#my-account-view > section {
    margin-top: 2rem;
}

#typefilter {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.section-card-content form {
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.section-card-content form > input {
    margin-bottom: 0;
}