* {
    font-family: Arial, sans-serif;
}

:root {
    --button-color: #007BFF;
    --button-selected-color: #0056b3;
    --button-disabled-color: #888;

    --action-button-color: grey;
    --action-button-hover-color: rgb(99, 99, 99);

    --admin-button-color: #28a745;
    --admin-button-hover-color: #218838;

    --logout-button-color: #dc3545;
    --logout-button-hover-color: #a11e2b;

    --card-box-shadow-color: rgba(0,0,0,0.2);

    --table-row-bg-color: #f9f9f9;
}

body {
    background-color: #e0e2e7;
}

.nav-button, .nav-button:active {
    background-color: var(--button-color);
}
.nav-button:hover:not(:disabled) {
    background-color: var(--button-selected-color);
}
.nav-button:disabled {
    background-color: var(--button-disabled-color);
}

.action-button, .action-button:active {
    background-color: var(--action-button-color);
}
.action-button:hover:not(:disabled) {
    background-color: var(--action-button-hover-color);
}
.action-button:disabled {
    background-color: var(--button-disabled-color);
}

.admin-button, .admin-button:active {
    background-color: var(--admin-button-color);
}
.admin-button:hover:not(:disabled) {
    background-color: var(--admin-button-hover-color);
}
.admin-button:disabled {
    background-color: var(--button-disabled-color);
}

.logout-button, .logout-button:active {
    background-color: var(--logout-button-color);
}
.logout-button:hover:not(:disabled) {
    background-color: var(--logout-button-hover-color);
}
.logout-button:disabled {
    background-color: var(--button-disabled-color);
}

.hidden {
    display: none;
}

.search-highlight {
    background-color: yellow;
}

input[name="q"] {
    padding: 0.53rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
}

input[name="q"]:focus, input[name="q"]:active {
    outline: none;
    border: 1px solid #ccc;
}

#popup-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

#popup-wrapper.with-click-through {
    pointer-events: none;
}

#popup-wrapper:has(.popup:not(.hidden)) {
    display: flex;
}

#popup-wrapper:has(.popup:not(.hidden)).popup-wrapper-with-backdrop {
    background-color: rgba(0,0,0,0.5);
}

#popup-wrapper .popup {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px var(--card-box-shadow-color);
    max-width: 50rem;
    /* enable interaction with popup */
    pointer-events: auto;
}

body:has(.popup:not(.hidden)) {
    overflow: hidden;
}

.close-button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
.close-button:hover {
    background-color: var(--button-selected-color);
}
.confirm-delete-button {
    background-color: var(--logout-button-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
.confirm-delete-button:hover {
    background-color: var(--logout-button-hover-color);
}

.popup-buttons-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
}