body {
    padding: 20px;
}
h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button, .toggle-btn {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.toggle-btn {
    margin-left: 10px;
}
button:disabled {
    background-color: var(--button-disabled-color);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--card-box-shadow-color);
}
.message {
    margin-top: 15px;
    background: #e6ffe6;
    border: 1px solid #b3ddb3;
    padding: 10px;
    border-radius: 5px;
}
.overdue {
    color: red;
    font-weight: bold;
}
.returned {
    color: green;
}
.invoice {
    margin-top: 20px;
    background: #fff7f7;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ffcccc;
}
.hidden { display: none; }
.admin-btn {
    background-color: #28a745;
}
.media-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    overflow: hidden;
}

.media-image-container {
    background-color: #ffffff;
    /* min-height: 22.3rem; */
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.media-image {
    height: 22.3rem;
    border-radius: 1rem;
    object-fit: contain;
    background-color: #fff;
    display: block;
}

.media-image-layling {
    border-radius: 1rem;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
    display: block;
}

.media-image-square {
    width: 100%;
    border-radius: 1rem;
    object-fit: contain;
    background-color: #fff;
    display: block;
}



